<nav class="navbar navbar-expand-lg navbar-light login" style="background-color: #F0F2F5">
  <a class="navbar-brand" style="font-weight: bold" href="/"><img src="../images/birds-vector-feather-5.png"
      style="width: 5%;">FLOCK</imgsrc></a>
  <div class="nav-item dropdown" style="margin-right: 5%;">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" style="font-size: 1.3rem;">User</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/profile">Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/events">Events</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/logout">Logout</a>
    </div>
  </div>
</nav>


<div class="row" style="margin: 2% 2% 0 2%;">
  <div class="col" style="width:70%">
    <form action="/events" method="POST">
    <div class="form-group">
      <label class="event-title">Event Name</label>
      <input type="text" class="form-control" name="title" value="{{event.title}}" placeholder="Enter event name">
    </div>

    <div class="form-group">
      <label class="event-title">Created By</label>
      <input type="text" class="form-control " name="creater" value="{{event.creater}}"
        placeholder="Enter creater's name">
      {{!-- {{#each user.name as |users|}} --}}
    </div>


    <div class="form-group">
      <label class="event-title">Description</label>
      <input type="text" class="form-control" name="description" value="{{event.description}}"
        placeholder="Enter description">
    </div>

    <div class="form-group" style="width: 27%;">
      <label class="event-title">Location (Latitude)</label>
      <input type="text" class="form-control" name="location[coordinates][1]" value="{{event.latitude}}"
        placeholder="Enter event latitude" id="lat">
    </div>

    <div class="form-group" style="width: 27%;">
      <label class="event-title">Location (Longitude)</label>
      <input type="text" class="form-control" name="location[coordinates][0]" value="{{event.longitude}}"
        placeholder="Enter event longitude" id="lng">
    </div>

    <label class="event-title">Date & Time</label>
    <div class="input-group mb-4" style="width: 27%;">
      <input type="datetime-local" name="time"  placeholder="xx/xx/20xx 00:00" value=""  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2};[0-9]{2}:[0-9]{2}" />
    </div>

    <label class="event-title">Categories</label>
    <div class="row col-sm-7" style="justify-content: space-between;">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="categories[enum][social]" id="social" value="social">
      <label class="form-check-label" for="social"><img class="event-icons" src="../images/social.png"></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="categories[enum][drinks]" id="drinks" value="drinks">
      <label class="form-check-label" for="drinks"><img class="event-icons" src="../images/drinks.png"></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="shows" id="shows">
      <label class="form-check-label" for="shows"><img class="event-icons" src="../images/cine.png"></label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="food" id="food">
      <label class="form-check-label" for="food"><img class="event-icons" src="../images/comer.png"></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="dance" id="dance">
      <label class="form-check-label" for="dance"><img class="event-icons" src="../images/dance.png"></label>
    </div>
        <div class="form-check">
      <input class="form-check-input" type="radio" name="culture" id="culture">
      <label class="form-check-label" for="culture"><img class="event-icons" src="../images/museo.png"></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sports" id="sports">
      <label class="form-check-label" for="sports"><img class="event-icons" src="../images/sports.png"></label>
    </div><div class="form-check">
      <input class="form-check-input" type="radio" name="activities" id="activities">
      <label class="form-check-label" for="activities"><img class="event-icons" src="../images/actividades.png"></label>
    </div>
  </div>    
    <div class="d-flex" style="margin-top: 2%;">
       <button type="submit" class="btn btn-primary" style="font-weight: bold; font-size: 1rem;">Create Event</button>
    </div>

    </form>
  </div>
  <div class="col">
    <div id="map" style="width: 100%; height: 90%"></div>
  </div>

</div>
</div>