<nav class="navbar navbar-expand-lg navbar-light login" style="background-color: #F0F2F5"> 
  <a class="navbar-brand" style="font-weight: bold" href="/"><img src="../images/birds-vector-feather-5.png" style="width: 5%;">FLOCK</imgsrc></a> 
   <div class="nav-item dropdown" style="margin-right: 5%;S">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1.3rem;">{{session.name}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/events">Events</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </div>
</nav>


<div class="profile-page">
    <div class="card profile-card" style="width: 30.5rem; height: 42rem; border-width: 4px; border-color:cornflowerblue; border-radius: 2%;">
    {{#if session.avatarURL}}
        <img class="profile-pic" src="{{ session.avatarURL }}" class="img-fluid rounded">
    {{else }}
        <img class="profile-pic" src="../images/helena-lopes-463976-unsplash.jpg">
    {{/if}}
    <form action="/profile" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="avatar" id="avatar">
                <label class="custom-file-label" for="avatar">Change Profile Pic</label>
            </div>
        </div>
        <div class="card-body" style="text-align:center;">
            <input type="text" name="name" class="form-control {{#if errors.name}} is-invalid {{/if}}" placeholder="{{user.name}}" value="{{ user.name }}"/>
                <div class="invalid-feedback">
                    {{ errors.name }}
                </div> 
            <p class="card-text" style="font-size: 1.5rem;">{{ user.email }}</p>
            <input type="text" name="description" class="form-control {{#if errors.description}} is-invalid {{/if}}" placeholder="This is where you can write a description about yourself...." value="{{ user.description }}"/>
                <div class="invalid-feedback">
                    {{ errors.description }}
                </div> 
            <div class="profile-buttons" style="margin-top: 10%;">
                <button type="submit" class="btn btn-sm btn-success text-white mr-3" style="font-size: 1.5rem;">Update Profile</button>
            </div>
        </div>
    </div>
</div>
</form>
