<nav class="navbar navbar-expand-lg navbar-light login" style="background-color: #F0F2F5"> 
  <a class="navbar-brand" style="font-weight: bold" href="/"><img src="../images/birds-vector-feather-5.png" style="width: 5%;">FLOCK</imgsrc></a> 
     <a href="/profile">User Profile</a> 
    <a href="/logout"> 
      <button type="button" class="btn btn-primary" style="font-weight: bold;">LOG OUT</button> 
    </a> 
</nav>

<form action="/events" method="GET" style="margin-top: 3%;">
  <div class="form-row">
    <div class="form-group col-10">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div>
        <input type="text" class="form-control" name="title" placeholder="Type Event title..." value="{{ title }}">
      </div>
    </div>
    <div class="form-actions col-2">
      <button type="submit" class="btn btn-block btn-primary">Search</button>
    </div>
  </div>

<div class='list-group'>
  {{#each events as |event| }}
  <a href="/events/{{ event.id }}" class="list-group-item list-group-item-action">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1" style="font-weight: bold;">{{ title }}</h5>
  </div>
    <p class="mb-1">{{ location }}</p>
    <p class="mb-1">{{ description.short }}</p>
    <p class="mb-1">{{ description.long }}</p>
    <p class="mb-1">{{ time }}</p>
    <p class="mb-1">{{ categories }}</p>


  </a>
  {{/each}}
</div>